@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
body * {
  transition: background-color 1000ms linear;
  /* @apply transition-colors duration-200; */
}
